<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%-title%></title>
   <%- HeaderCss %>
   <%- include ('../partials/header-css.ejs') %>
</head>
<body>
  <p>This is the layout for authenticated users.</p>
  <%- body%>
  <%- include ('../partials/footer') %>
  <%- FooterJs %>
</body>
</html>